<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>7920944655-iaqehro2ddbhs3junc162b507hibf69k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.7920944655-iaqehro2ddbhs3junc162b507hibf69k</string>
	<key>API_KEY</key>
	<string>AIzaSyD3-Jr4BlMtTEMxadja2ycFZndERNIea2Q</string>
	<key>GCM_SENDER_ID</key>
	<string>7920944655</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseownpractice</string>
	<key>PROJECT_ID</key>
	<string>practiceflutterfirebase-1c3ec</string>
	<key>STORAGE_BUCKET</key>
	<string>practiceflutterfirebase-1c3ec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:7920944655:ios:5dc2b8cd918127005bc57a</string>
</dict>
</plist>